<!-- property binding -->
<h1 [style.textAlign]="headStyle">Angular 18</h1>


<router-outlet />

<h2>{{time | date }}</h2>

<h2>{{day | date : 'medium'}}</h2>


<h1>Tutorial</h1>
<!-- string interploation -->
<h2 style="color: green;">{{title | uppercase | append:'project'}}</h2>
<h3>subject is :{{subject | uppercase}}</h3>
<!-- property binding -->
<img [src]="img" alt="" style="width: 500px;"> <br>

<!-- data share using events - function without arg -->
<button (click)="btnclick()" >Click</button>
<!-- data share using events - function with arg -->
<button (click)="add('Max')">Add</button> <br> <br>

<!-- Data share using entire event - $event -->
 <!-- change , keyup , keydown -->
<input #user type="text" placeholder="Enter Your Name" (keyup)="getname($event)" >

<button (click)="getUser(user)">getUser</button>

<h2>Username is : {{username}} </h2>



<!-- structural directives -->

<h1 *ngIf="!word">Angular</h1>

<!-- control flow  -->

@if (word) {
    <h1>Angular</h1>
}
@else{
  <h1>Nothing to show</h1>
}
<!-- ngFor -->
 <ul>
    <li *ngFor="let item of nameArray" >
        {{item}}
    </li>
 </ul>

 <table>
    <thead>
        <tr>
            <th>no</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of nameArray ; index as i">
            <td>{{i+1}}</td>
            <td>{{item}}</td>
        </tr>
    </tbody>
 </table>



 <!-- control  -->

 <ul>
    @for (item of nameArray ; track $index) {
      <li>{{item}}</li>
    }
 </ul>


 <!-- ngclass -->
 <h2 [ngClass]="word?'cls1':'cl2'" >Attribute Directive - ngClass</h2>


 <input type="text" placeholder="Enter your Age" [(ngModel)]="age">

 <h1>Enter Age is  : {{age}}</h1>


